<table>
	<tbody>
		<tr>
			<td class="column2">
				This is lots of text about the event. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment.
			</td>
			<td class="fillColumn"></td>
			<td class="column2">
				This is lots of text about the event. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment.
			</td>
		</tr>
	</tbody>
</table>