
First and foremost, Thank you for coming to share this special day with us. Seriously, you are the best. As details are developing, we will update the site so please check back for more information. Can't wait to see you! 
<div class="row-fluid tableContent">
	<div class="span6 center">
		<h4>WEDDING CEREMONY  | FUSCHIA DELL   |  3:00PM </h4>
		<img src="assets/GGP_MAP.jpg" />
	</div>
	<div class="span6 center">
		<h4>TANK 18 WINERY  |  DINNER &amp; DANCING  |  5:30 PM</h4>
		<img src="assets/Tank-18_Map.jpg"/>		
	</div>
</div>
