<table>
	<BR/>
	<BR/>
	<BR/>
	First and foremost, Thank you for coming to share this special day with us. Seriously, you are the best. As details are developing, we will update the site so please check back for more information. Can't wait to see you! 
	<tbody>
		<tr>
			<td class="column2">
				<b>   WEDDING CEREMONY  | FUSCHIA DELL   |  3:00PM </b>
				<BR/> 

				<BR/> 
				<img src="assets/GGP_MAP.jpg" />
				<BR/> 
				<BR/>
				 
				<BR/>
				<BR/>
			
				
				<BR/>
				

			</td>
			<td class="fillColumn"></td>
			<td class="column2"> 
				<b>TANK 18 WINERY  |  DINNER &amp; DANCING  |  5:30 PM</b>
				<BR/>

				<BR/> 
				<img src="assets/Tank-18_Map.jpg"/>
				<BR/> 
				<BR/> 
				
			</td>
		</tr>
	</tbody>
</table>