
First and foremost, Thank you for coming to share this special day with us.  We will be providing a shuttle between the ceremony and reception spaces, and suggest taking a taxi or public transportation to the ceremony. If your taking a taxi, Fulton and Stanyan is the best intersection to reference.
<div class="row-fluid tableContent">
	<div class="span6 center">
		<h4>WEDDING CEREMONY  | FUSCHIA DELL   |  3:00PM </h4>
		<img src="assets/GGP_MAP.jpg" />
	</div>
	<div class="span6 center">
		<h4>TANK 18 WINERY  |  DINNER &amp; DANCING  |  5:30 PM</h4>
		<img src="assets/Tank-18_Map.jpg"/>		
	</div>
</div>
