<table>	
	First and foremost, Thank you for coming to share this special day with us. We will be providing a shuttle between the ceremony and reception spaces, and suggest taking a taxi or public transportation to the ceremony. If your taking a taxi, Fulton and Stanyan is the best intersection to reference.
	<tbody>
		<tr>
			<td class="column2">
				<b>   WEDDING CEREMONY  | FUSCHIA DELL   |  3:00PM </b>
				<br/> 

				<br/> 
				<img src="assets/GGP_MAP.jpg" />
				<br/> 
				<br/>
				 
				<br/>
				<br/>
			
				
				<br/>
				

			</td>
			<td class="fillColumn"></td>
			<td class="column2"> 
				<b>TANK 18 WINERY  |  DINNER &amp; DANCING  |  5:30 PM</b>
				<br/>

				<br/> 
				<img src="assets/Tank-18_Map.jpg"/>
				<br/> 
				<br/> 
				
			</td>
		</tr>
	</tbody>
</table>
