<h3>HOTELS</h3>

We have set up blocks at two hotels in downtown San Francisco; The Huntington and The Mystic Hotel. Both are near Union Square and close too all public transportation. We are working on adding one more to the list, but in the meantime we recommend you take a look at <a href="http://www.coventrymotorinn.com/" target="_blank">The Coventry</a> or <a href="hhttp://www.chelseamotorinn.com/" target="_blank">The Chelsea</a>  in the Marina District. Rates are around $140-$170 / night. 
	

<div class="row-fluid tableContent">
	<div class="span6">
		<a href="http://www.huntingtonhotel.com/guestrooms_and_suites/" target="_blank">THE HUNTINGTON HOTEL</a>
		<br/>
		<img src="assets/huntington_suite.jpg" />
		<br/><br/>
		<div class="row-fluid">
			<div class="span1 center"><i class="icon-map-marker icon-large"></i></div> 
			<div class="span10">1075 California St  San Francisco, CA 94108</div>
		</div>
		<div class="row-fluid">
			<div class="span1 center"><i class="icon-phone icon-large"></i></div> 
			<div class="span10">(415) 474-5400</div>
		</div>
		<div class="row-fluid">
			<div class="span1 center"></div> 
			<div class="span10">Regular rooms and suites available; $250 / night. Mention the Howley / Terrill Wedding Block.</div>
		</div>		
	</div>
	<div class="span6">
		<a href="http://www.mystichotel.com/" target="_blank">THE MYSTIC HOTEL</a>
		<br/>
		<img src="assets/mystic_suite.jpg" />
		<br/><br/>
		<div class="row-fluid">
			<div class="span1 center"><i class="icon-map-marker icon-large"></i></div> 
			<div class="span10">417 Stockton Street, San Francisco, CA 94108</div>
		</div>
		<div class="row-fluid">
			<div class="span1 center"><i class="icon-phone icon-large"></i></div> 
			<div class="span10">(415) 400-0500</div>
		</div>
		<div class="row-fluid">
			<div class="span1 center"></div> 
			<div class="span10">Visit the website and use group code 'MYWED' as a promo code for a 15% discount on all rooms. Pricing starts at $240</div>
		</div>		
	</div>			
</div>
<br/><br/>
<div class="lodgingContent">
	<b>ADDITIONAL INFORMATION</b>
	<br/>
	Getting to San Francisco is pretty straight forward. You can fly into San Francisco Internation Airport (SFO) or Oakland (OAK). Both allow for public transportion to the city pretty easily. You can take the <a href="http://www.bart.gov" target="_blank">BART</a> directly into the city from either. Cabs from SFO are about $50. In addition to the hotels listed above, we also recommend you check out <a href="https://www.airbnb.com/" target="_blank">AirBnb</a>, or <a href="http://www.vrbo.com/" target="_blank">VRBO</a>  to rent apartments as an alternative. Hotel rooms in the city can be tough and we recommend you make arrangments early. Also, check deal websites for hotel rooms, such as <a href="http://www.bloomspot.com/" target="_blank">Bloomspot</a>. San Francisco hotels are featured regularly for great deals. Let us know if there are any questions about where to stay. If you would like to do a vacation rental with another group, let us know and we will do our best to pair people up together. 
	<br/>
	<br/>
	<b>THINGS TO DO AROUND THE CITY</b>
	<br/>
	We've laid out a few of our favorite spots around the city! We suggest downloading InstantCab or Uber to get a cab, and Routsey if you plan to use Muni to get around. You can purchase a Muni Passport at any local Walgreens downtown for unlimited day passes. 
</div>
<table>
	<tbody>
		<tr>
			<td class="fillColumn"></td>
			<td class="column3">								
				<br/>
				<a href="http://www.alcatrazcruises.com/" target="_blank">ALCATRAZ TOUR</a>
				
				<div class="columnImage"><img src="assets/images_alcatraz.jpg" /> </div>
				A must do. Tours of the buildings with the Audio Tour is unreal. Check the website for times and special closures. Plan the trip early and get tickets soon. It sells out regularly. 
				<br/>
				<br/>
				<a href="http://www.yelp.com/biz/the-bell-tower-san-francisco" target="_blank">THE BELL TOWER</a>
				<div class="columnImage"><img src="assets/images_belltower.jpg" /> </div>
				Our favorite spot from the old neighborhood. The food is delicious and the people are wonderful. Located at the corner of Polk and Jackson, it is a perfect spot to stop in for lunch while shopping around Polk Street. 
				
				
			</td>
			<td class="fillColumn"></td>			
			<td class="column3">
				<br/>
				
				<a href="http://www.magnoliapub.com/" target="_blank">MAGNOLIA BREWPUB</a> 
				<div class="columnImage"><img src="assets/images_magnolia.jpg" /></div>
				We recommend Magnolia Brewpub for lunch when checking out the Haight/Asbury neighborhood. Located on the corner of Haigt and Masonic, Burgers and craft brews are the specialty. (Fun Fact: Magnolia is famous for being one of Jerry Garcia's favorite hangouts.) Try the Devils on Horseback for a starter. You will not regret it. 
				<br/>
				<br/>
				<a href="http://www.ferrybuildingmarketplace.com/" target="_blank">FERRY BUILDING MARKET</a> 
				<div class="columnImage"><img src="assets/images_ferry building.jpg" /></div>
				One of the best in the country. Amazing coffee, oysters, and samples.  
				<br/>
				<br/>
				<a href="http://www.exploratorium.edu/" target="_blank">THE EXPLORATORIUM</a> 
				<div class="columnImage"><img src="assets/images_exploratorium.jpg" /></div>
				The exploratorium is amazing, and not just for kids. If you head into town early Thursday nights are open late and add cocktails to the mix. Recently relocated to Pier 15, it is a great downtown attraction. 
				
			</td>	
			<td class="fillColumn">
			</td>

			<td class="column3">
				<br/>
				<a href="http://www.parksconservancy.org/visit/park-sites/ocean-beach.html" target="_blank">OCEAN BEACH</a> 
				<div class="columnImage"><img src="assets/images_OB.jpg" /></div>
				For the out-of-towners, getting out to the ocean is a must. We suggest you make your way out to the beach and check out a Sunset. Ocean Beach is the western coast of San Francisco, and is beautiful. And frigid. Sweaters at the beach are normal. 
				<br/>
				<br/>
				<a href="http://parkchalet.com/" target="_blank">PARK CHALET</a>  
				<div class="columnImage"><img src="assets/images_beach chalet.jpg" /></div>
				Excellent food and drinks to enjoy with the sunset. Upstairs dinning room provides some of the bests views in the city, and the downstairs allows for some great dinning al fresco. 
			</td>

		

		</tr>
	</tbody>
</table>
