<table>
	<tbody>
		<tr>
			<td class="column2">
				<b> THE HUNTINGTON HOTEL </b> is located at the top of Nob Hill and offers some of the best view the city has to offer. We reserved a block of 20 rooms, Junior and Deluxe Suites, for your convenience. This hotel has a great bar and restaurant located in the hotel, as well as the Nob Hill Spa. We recommend you make reservations / appointments at either of these if you'd like to check them out. Please call ######## for reservations and reference The Howley/Terrill wedding. 
				<br></br> A little history: The site of The Huntington Hotel was originally developed for The Tobin Family, an affluent San Francisco family who was building their mansion amongst 'The Big Four' railroad tycoons and the rest of San Francisco high society. In 1922, Collis P. Huntington transformed the mansion to a 12 story luxury apartment building and created the first brick and steel high rise building west of the Mississippi. This brought innovations such as The Pullman Kitchen and The Murphy bed to the West Coast. Purchased and maintained in 1924 the propert manager, Eugene Fritz, purchased the property and kept it running for several years. The apartments where transformed into a Hotel after WWII, when tourism in San Francisco took off after its high profile involvement in the war. The Hotel is still family owned, and we encourage to check out the railroad memorabilia in the The Big Four lounge. 
			</td>
			<td class="fillColumn"></td>
			<td class="column2">
				This is lots of text about the lodging. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment. This is lots of text about the party. We will have music, dancing, and merriment.
			</td>
		</tr>
	</tbody>
</table>