<div class="left sfContent">
	<b>REGISTRIES</b>
	<br/>
	<br/>
	On top of our wedding celebrations, we are also starting to plan a two month whirlwhind honeymoon across Africa during the summer of 2014. We are planning to make stops in Morocco, Kenya, Rwanda, Namibia, and South Africa. On our travels we hope to experience everything from dinner on the mediterranean, to silverback gorillas, to majestic sand dunes. We can't think of a more enjoyable and impactful gift than for you to contribute to one of those adventures. 
	<br><br>
	Check out the site below for more details on our adventures and instructions on how to contribute:
	<ul class="registryList">
		<li><a href="http://www.honeyfund.com/wedding/ptandchowley" target="_blank">Honeymoon Adventure Fund</a></li>
	</ul>	
	
	
	If you prefer more tangible gifts, we have selected a few of our favorite things and would be excited to welcome any of them into our lives:		
	<ul class="registryList">
		<li><a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=3DUO2TPAKO6HW&type=wedding" target="_blank">Amazon</a></li>
		<li><a href="http://www.bloomingdales.com/registry/wedding/guest/?registryId=2039011" target="_blank">Bloomingdales</a></li>	
		<li><a href="http://www.crateandbarrel.com/Gift-Registry/Catherine-Howley-and-Peter-Terrill/r5048598" target="_blank">Crate &amp; Barrel</a></li>
	</ul>	
	Thank you for thinking of us and adding to our life together. Celebrating our marriage with you is what's most important to us!
</div>
