

<div class="rsvpContent">
	Please RSVP individually
	<br><br>
	
	<div>
    	<a id="attending" class="btn btn-large rsvpSelection" href="#" ><i id="attendingBox" style="text-align:left" class="icon-fixed-width icon-check-empty icon-large"></i> Count me in!</a>
    	<a id="notAttending" class="btn btn-large rsvpSelection" href="#" ><i  id="notAttendingBox" style="text-align:left" class="icon-fixed-width icon-check-empty icon-large"></i> Count me out</a>
    </div>
    <br/><br/>

	<div id="attendingContent" class="rsvpForm hidden">
		<form class="noMargin">
			<label>Name:</label>
			<input id="attendingName" type="text" placeholder="Distinguished Guest">
			<label>Email:</label>
			<input id="attendingEmail" type="text">
			<label>Entree Selection:</label>
			<select id="attendingMeal">
				<option>Mahi Mahi</option>
				<option>Filet Medallions</option>
				<option>Portabello Feast (veg)</option>
			</select>
			<label>Comments:</label>
			<textarea id="attendingComments" rows="3"></textarea>
			<br>
			<button id="attendingBtn" type="submit" class="btn btn-primary rsvpSubmit">RSVP</button>
		</form>
	</div>

	<div id="notAttendingContent" class="rsvpForm hidden">
		<form class="noMargin">
			<label>Name:</label>
			<input id="regretsName" type="text">			
			<label>Comments:</label>
			<textarea id="regretsComments" rows="3"></textarea>
			<br>
			<button id="regretsBtn" type="submit" class="btn btn-primary rsvpSubmit">Send Regrets</button>
		</form>
	</div>
</div>

<script>
	_isAttending = false;
	_selectionId = null;

	$(".rsvpSelection").click(function (event) {							
		event.preventDefault();
		var selectionId = jQuery(this).attr("id");
		_selectionId = selectionId;		
		expandRSVP(selectionId);
	});	

	$(".rsvpSelection").hover(
		function (event) { // mouseOver
			var buttonId = jQuery(this).attr("id");
			if (_selectionId !== buttonId) {
				var button = $("#"+buttonId);
				if (buttonId === "attending") {
					button.addClass("btn-success");
				} else {
					button.addClass("btn-danger");
				}

				var box = $("#"+buttonId+"Box");
				box.addClass("icon-check");
				box.removeClass("icon-check-empty");
			}
		},
		function (event) { // mouseOut
			var buttonId = jQuery(this).attr("id");
			if (_selectionId !== buttonId) {
				var button = $("#"+buttonId);
				if (buttonId === "attending") {
					button.removeClass("btn-success");
				} else {
					button.removeClass("btn-danger");
				}

				var box = $("#"+buttonId+"Box");
				box.addClass("icon-check-empty");
				box.removeClass("icon-check");
			}			
		}
	);	

	$(".rsvpSubmit").click(function (event) {							
		event.preventDefault();
		submitRSVP();
	});

	function submitRSVP(){
		var values = {isAttending: _isAttending};		
		
		if (_isAttending) {
			getField("#attendingName", values, "name");
			getField("#attendingEmail", values, "email");
			getField("#attendingMeal", values, "dinner");
			getField("#attendingComments", values, "comments");	
		} else {
			getField("#regretsName", values, "name");
			getField("#regretsComments", values, "comments");	
		}

		var reg = {registration: values};
		var url = "/register";
		var jqxhr = $.post( url, reg )
			.done(function(data) { 	
				alert(data.name);
			});  
	}

	function getField(inputFieldId, object, key){
		var value = $(inputFieldId).val();
		if (value != null && value.length > 0) {
			object[key] = value;
		}
	}

	function expandRSVP(expandId){	
		var defaultBtnStyle = "btn-warning";

		var btnElement = $("#"+expandId);
		var contentElement = $("#"+expandId+"Content");
		var boxElement = $("#"+expandId+"Box");

		var otherId = null;		
		if (expandId === 'attending'){
			_isAttending = true;
			otherId = "notAttending";

			btnElement.addClass("btn-success");
			btnElement.removeClass(defaultBtnStyle);

			$("#"+otherId).removeClass("btn-danger");
		} else {
			_isAttending = false;
			otherId = "attending";			

			btnElement.addClass("btn-danger");
			btnElement.removeClass(defaultBtnStyle);

			$("#"+otherId).removeClass("btn-success");
		}
		
		var otherContent = $("#"+otherId+"Content");
		var otherBox = $("#"+otherId+"Box")

		otherContent.addClass("hidden");
		contentElement.removeClass("hidden");

		boxElement.addClass("icon-check");
		otherBox.addClass("icon-check-empty");
		otherBox.removeClass("icon-check");
	}	

</script>