<div class="left sfContent">
	<b>REGISTRIES</b>
	<br/>
	<br/>
	Seeing all you guys on our big day is whats most important to us! If you’d like to give us something to celebrate our life together, we have selected a few of our favorite things. 
	<ul>
		<li><a href="http://www.amazon.com/gp/wedding/homepage/ref=gno_listpop_wr" target="_blank">Amazon</a></li>
		<li><a href="http://www.amazon.com" target="_blank">Bloomindales</a></li>	
		<li><a href="http://www.crateandbarrel.com/Gift-Registry/" target="_blank">Crate and Barrell</a></li>
	</ul>
	Additionally, we are planning a trip around the world for Summer 2014 ( !!!! ) and if you don’t feel like picking out any homegoods, a <a href="http://www.honeyfund.com/wedding/ptandchowley" target="_blank">contribution</a> to our travels would be great appreciated! 
	<br /> 
	<br /> 
	Thank you very much for thinking of us and adding to our life together!

	<br /> <br /> <br /> 

	

</div>