
Welcome to San Francisco! We love it here, and pretty sure you will too. We have put together a list of our favorite things to do, see, eat, and drink in the city and hope that you take some time to explore. 
<ul>
	<li>First Bullet</li>
	<li>Second Bullet</li>
</ul>



<table>
	<tbody>
		<tr>
			<td class="column5">
			</td>
			<td class="fillColumn"></td>
			<td class="column5">				
				<b>THE BELL TOWER</b> is one of our all time favorite spots from the old neighborhood. The food is delicious with great beers on tap, what more do you need? How about Barbie, the amazing owner and bartender. Tell her we love her. The Bell Tower is pretty centrally located between Nob Hill (The Hungtington), Fisherman's Wharf, and well... the rest of the city.
				<img src="assets/bell_tower.png" />
				<br/><br /><b>Recommendations:</b>
				<br/>Peter : The Ribs
				<br/>Catherine : Tuna Taco
				<br/><br/>Located at the corner of Polk and Jackson, it is a perfect spot to stop in for lunch while shopping around the <b>POLK STREET</b> neighborhood. There are tons of shops and bars and neat places to check out along Polk Street. For the Wisconsin folks, do not pass up <b> CHEESE PLUS </b> at the corner on Pacific. And for the shoppers, <b> CRIS </b> Consignment store is a must for finding great deals on high end goods. 
			</td>
			<td class="fillColumn"></td>			
			<td class="column5">
				
				<b>MAGNOLIA</b> is a San Francisco institution, you should check it out. As one of Jerry Garcia's old hangouts, Magnolia Brewpub has earned its reputation has one of the best spots in San Francisco. <img src="assets/magnolia.png" />They have one of the greatest burgers, fries to die for, and an impressive menu of beers. Magnolia is smack in the middle of Upper Haight at the corner of Haight and Masonic and serves a great lunch spot for those wanting to check out the famous Haight / Ashbury scene. From here you can enjoy a quick walk down to the Pan handle of Golden Gate Park. The <b>PAN HANDLE </b> is the far eastern edge of Golden Gate Park and protudes into the Upper Haight. This is a great scene of San Francisco at its best on a sunny afternoon.  
				<img src="assets/magnolia.png" />
				<br/><b>Recommendations:</b>
				<br/>Peter : Devils on Horseback	
				<br/>Catherine : Co-signed
				
			</td>	
			<td class="fillColumn">
			</td>

			<td class="column5">
				For all the out-of-towners, getting out to the ocean is a must. We suggest you make your way out to <b>OCEAN BEACH</b> and check out a Sunset. Ocean Beach is the western coast of San Francisco and is our most accessible waterfront (pretty low bar for San Francisco). OB is beautiful. And frigid. Sweaters at the beach are cool. Take a long walk along OB, and end up at <b>THE BEACH CHALET</b> or <b>THE PARK CHALET</b>, either the upstairs or downstairs restaurants right on the water. Located at the end of Golden Gate Park, at JFK Drive and The Great Highway. 
				ADDED FUN: rent bikes and bike out to the ocean. You can take the bus back. 
			</td>
			<td class="fillColumn"></td>
			<td class="column5">
				One thing to be sure to see while your here is <b>ALCATRAZ</b>. The Rock is one of the main tourist attractions in the country, and we recommend you get your tickets early. Bring something warm for the boat ride over if you plan to stand on the deck (which you totally should). Give yourself 3 hours while on the The Rock. There is a lot to see and it is really, really cool. There are often special guest speakers or presentations from previous gaurds or inmates so be sure to check out the website.  Alcatraz Tours departs from Pier XX off the embarcadero. 
			</td>
		

		</tr>
	</tbody>
</table>