<div class="left sfContent">
	<b>REGISTRIES</b>
	<br/>
	<br/>
	Seeing all you guys on our big day is whats most important to us! If you’d like to give us something to celebrate our life together, we have selected a few of our favorite things. 
	<br><br>
	<ul>
		<li><a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=3DUO2TPAKO6HW&type=wedding" target="_blank">Amazon</a></li>
		<li><a href="http://www.bloomingdales.com/registry/wedding/guest/?registryId=2039011" target="_blank">Bloomindales</a></li>	
		<li><a href="http://www.crateandbarrel.com/Gift-Registry/Catherine-Howley-and-Peter-Terrill/r5048598" target="_blank">Crate and Barrell</a></li>
	</ul>
	Additionally, we are planning a trip around the world for Summer 2014 for our honeymoon!!!! If you don’t feel like picking out any homegoods, a contribution to our travels would be greatly appreciated.
	<br><br>
	<ul>
		<li><a href="http://www.honeyfund.com/wedding/ptandchowley" target="_blank">Travel Fund</a></li>
	</ul>
	<br>
	Thank you very much for thinking of us and adding to our life together!

</div>