<div id="pageWrapper">
	<div id="hero">
		<canvas id="overlay" width="940" height="46"></canvas>
		<div class="heroCutIn"></div>		
	</div>
	<div id="menu" class="row-fluid">		
  		<div class="span3"><a href="#" id="event">Event</a></div>
  		<div class="span3"><a href="#" id="lodging">Lodging</a></div>
  		<div class="span3"><a href="#" id="party">Wedding Party</a></div>
  		<div class="span3"><a href="#" id="sf">Around Town</a></div>
	</div>

	<div id="event_content" class="hidden detail">
		<%= render "event" %>
	</div>
	<div id="lodging_content" class="hidden detail">
		<%= render "lodging" %>
	</div>
	<div id="party_content" class="hidden detail">
		<%= render "party" %>
	</div>
	<div id="sf_content" class="hidden detail">
		<%= render "sf" %>
	</div>

	<div style="font-family: Monda;">&nbsp;</div>

	<script type="text/javascript">
		var hero_hidden = false;
		var selected_id = null;

		// Create the Cut-Out Text
		$(function(){
			// Get a handle to our canvas
			var canvas = $('#overlay');
			var ctx = canvas[0].getContext("2d");

			// Choose font
			ctx.font = "36px 'Helvetica'";

			// Draw the black rectangle
			ctx.fillStyle = "white";
			ctx.fillRect(0,0,940,46);

			// Punch out the text!
			ctx.globalCompositeOperation = 'destination-out'; 
			ctx.fillText("CATHERINE & PETER      SAN FRANCISCO      10.19.13", 0, 41);	
		});
	
		// Start the hero image rotation
		$("#hero").backstretch([
		    "/assets/hero_sample_1.jpg",
		    "/assets/hero_sample_2.jpg"
		  ], {duration: 5000, fade: 750});			

		// Nav Click Handlers
		$("a").click(function () {			
			hideHeroImage();
			var new_id = jQuery(this).attr("id");
			if (new_id != selected_id) {
				$(".detail").addClass("hidden");
				var detail_id = "#" + new_id +"_content";
				$(detail_id).removeClass("hidden");
			}
    	});

		function hideHeroImage() {
			if (this.hero_hidden == undefined || this.hero_hidden == false) {
				this.hero_hidden = true;

				$('#hero').animate({				
					height: 46
				}, 1000, function() {				
					$("#hero").data('backstretch').pause();
					$("#hero").css("background-color","#b1b1b1");
					$(".backstretch").fadeOut(100);				
				});					
			}			
		}

	</script>

</div>