<div id="page_wrapper">
	<div id="hero">
		<canvas id="overlay" width="940" height="46"></canvas>
		<div class="hero_cut_in"></div>
	</div>
	
	<script type="text/javascript">
	  $(function(){
	    // Get a handle to our canvas
	    var canvas = $('#overlay');
	    var ctx = canvas[0].getContext("2d");

	    // Choose font
	    ctx.font = "Bold 36px 'Helvetica'";

	    // Draw the black rectangle
	    ctx.fillStyle = "white";
	    ctx.fillRect(0,0,940,46);

	    // Punch out the text!
	    ctx.globalCompositeOperation = 'destination-out'; 
	    ctx.fillText("CATHERINE & PETER      SAN FRANCISCO      10.19.13", 0, 41);
	
//		ctx.fillText("OCTOBER 19, 2013", 610, 41);  
	  });
	</script>


	<script>
	$("#hero").backstretch([
	    "/assets/hero_sample_1.jpg",
	    "/assets/hero_sample_2.jpg"
	  ], {duration: 5000, fade: 750});			
	</script>

</div>