// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/background-clip";

/////////////////////////////////
// Vars

$heroWidth: 		940px;
$heroHeight:		529px;
$cutOutHeight:		100px;

$colDividerWidth:	1px;
$colWidth2:			($heroWidth - (1 * $colDividerWidth))/2;
$colWidth3:			($heroWidth - (2 * $colDividerWidth))/3;
$colWidth4:			($heroWidth - (3 * $colDividerWidth))/4;
$colWidth5:			($heroWidth - (4 * $colDividerWidth))/5;

$topPadding:		20px;
$rsvpColor:			#006000;

/////////////////////////////////
// Site Syles

.hidden{
	display: none;
}

.left{
	text-align: left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}

.noMargin{
	margin: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	display: inline;
}

.doubleTopMargin {
	margin-top: 20px;
}

#pageWrapper{
	width:			$heroWidth;
	margin-left:	auto;
	margin-right:	auto;
	font-family: 'Noto Serif,', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 100%;
	text-align: left;
}

#menu {
    width: 100%;   
    padding: 0px;
    text-align: center;

    font-family: 'Noto Sans', sans-serif;
	font-size:18px;	
	margin-bottom: $topPadding;
}

#menu a {
	color:#b1b1b1;
}

.comingSoon {
	color: #555;
	text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:24px;	
}

/////////////////////////////////
// Hero Syles

#hero{
    margin-top:50px;
	overflow: hidden;

	width: 	$heroWidth;
	height: $heroHeight;
	
	font-family: 'Noto Sans', sans-serif;
	font-size:32px;	
}

.heroCutIn{
	color: #FFFFFF;
}

/////////////////////////////////
// Content Styles

table, tbody {
	width: 100%;
	vertical-align: top;
	text-align: left;
	font-size:16px;	
}

.columnImage {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.fillColumn {
	background-color: #FFFFFF;
	padding: 0px;
	width: $colDividerWidth;
}

.tableContent {
	margin: 20px 0px 20px 0px;
}

.radioBtn {
	vertical-align: top;
}

.radioLabel {
	display:inline;
	margin-left: 5px;
}

.rsvpHeader{			
	display: inline-block;
	width: 300px;
	font-weight: bold;
}

.rsvpContent{		
	text-align: left;	
}

.rsvpInput {
	width:210px;
}

#attendingComments{
	width: 197px;
}

#regretsComments{
	width: 197px;	
}

.rsvpInstruction {
	font-size: 16px;
}

.rsvpSelection {
	text-align: center;
}

.lodgingContent {
	text-align: left;
}