// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/background-clip";

/////////////////////////////////
// Vars

$heroWidth: 		940px;
$heroHeight:		529px;
$cutOutHeight:		100px;

$colDividerWidth:	1px;
$colWidth2:			($heroWidth - (1 * $colDividerWidth))/2;
$colWidth3:			($heroWidth - (2 * $colDividerWidth))/3;
$colWidth4:			($heroWidth - (3 * $colDividerWidth))/4;
$colWidth5:			($heroWidth - (4 * $colDividerWidth))/5;

/////////////////////////////////
// Site Syles

.hidden{
	display: none;
}

#pageWrapper{
	width:			$heroWidth;
	margin-left:	auto;
	margin-right:	auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 100%;
	text-align: center;
}

#menu {
    width: 100%;   
    padding: 0px;  
    display: inline;
    text-align: center;

    font-family: 'Monda', sans-serif;
	font-size:18px;	
}

#menu a {
	color:#b1b1b1;
}

.comingSoon {
	color: #555;
	text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:24px;	
}

/////////////////////////////////
// Hero Syles

#hero{
    margin-top:50px;
	overflow: hidden;

	width: 	$heroWidth;
	height: $heroHeight;
	
	font-family: 'Monda', sans-serif;
	font-size:32px;	
}

.heroCutIn{
	color: #FFFFFF;
}

/////////////////////////////////
// Content Styles

table, tbody {
	width: 100%;
	vertical-align: top;
	text-align: justify;
}

.column2 {
	padding: 40px;
	width: $colWidth2;
}
.column3 {
	padding: 10px;
	width: $colWidth3;
}
.column4 {
	padding: 10px;
	width: $colWidth4;
}
.column5 {
	padding: 10px;
	width: $colWidth5;
	font-size: 12px;
	text-align: left;
}

.fillColumn {
	background-color: #000;
	padding: 0px;
	width: $colDividerWidth;
}
